<configuration>
    <jmxConfigurator/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{3600} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %msg [%thread] %logger{3600}%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLELOGAPPENDER" class="com.xwintop.xJavaFxTool.common.logback.ConsoleLogAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %msg [%thread] %logger{3600}%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLELOGAPPENDER"/>
    </root>
</configuration>