.root {
	-fx-font-size: 16.0px;
    -fx-font-family: "Microsoft Yahei", "Segoe UI", Arial, sans-serif;
}

.background {
  -fx-background-color: white;
}

.button {
	-fx-pref-width: 48.0px;
	-fx-pref-height: 48.0px;
    -fx-text-fill: rgb(132.0,117.0,225.0);
    -fx-font-size: 20.0;
    -fx-font-weight: bold;
    -fx-background-radius: 0.0;
    -fx-background-color: rgb(175.0, 230.0, 230.0);  
}

.button:hover {
    -fx-background-color: lightskyblue;
}

.button:focused {
	-fx-background-color: darkturquoise;
}

.custom {
	-fx-background-color: rgb(175.0, 230.0, 230.0);
}