.app-layout .app-item {
    -fx-pref-width: 150;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 100;
    -fx-min-height: -fx-pref-height;
    -fx-background-color: #f4f4f4;
    -fx-padding: 5;
}

.app-layout .app-item.placeholder {
    -fx-background-color: #AADDFF;
}

.app-layout .app-item .app-item-title {
    -fx-font-weight: bold;
    -fx-padding: 0 5;
    -fx-text-fill: #555555;
}

.app-category-title {
    -fx-font-weight: bold;
    -fx-text-fill: #888888;
}

.app-category {
    -fx-padding: 10 10 15 10;
}

.search-text {
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #AAAAAA;
}

.search-text:focused {
    -fx-background-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
